Question 1: Age Group Classification 

Write a Python program that takes the age of a person as input and classifies them into one of the following age groups:

"Child" if the age is between 0 and 12 (inclusive).

"Teenager" if the age is between 13 and 19 (inclusive).

"Adult" if the age is between 20 and 64 (inclusive).

"Senior" if the age is 65 or older.

In [5]:
code = int(input("enter your age: "))
if code>0 and code<12:
    print("child")
else:
    print("not child")

enter your age:  0

not child

In [17]:
code = int(input("enter your age :"))
if code>13 and code<19:
    print("teenager")
else:
    print("not teenager")

enter your age : 14

teenager

In [159]:
code = int(input("enter your age :"))
if code>20 and code<64:
    print("adult")
else:
    print("not adult")

enter your age : 21

adult

In [23]:
code = int(input("enter your age :"))
if code>65:
    print("senior")
else:
    print("young")

enter your age : 66

senior

Q2. Write a Python program that asks the user to enter an email address. The program should check if the email contains the characters @ and "." (ignoring case). If either character is present, print "Email format is valid." Otherwise, print "Invalid email format."

Q3. Write a Python program that takes three numbers as input and determines the largest among them. Also, check if any or all of the numbers are equal."

Q4. Write a Python program that:

Asks the user to enter a number.

Checks whether the number is positive.

If yes, further check if it's even or odd.

Print "The number is positive and even" if divisible by 2.

Print "The number is positive and odd" if not divisible by 2.

If the number is zero or negative, print "The number is not positive".

In [187]:
user = int(input("enter your num: "))
if user>0:
    if user%2 == 0:
        print("user is positive and even")
    else:
        print("user is odd")

enter your num:  33

user is odd

Q5. Ask the user for a username and password. Check if the username is correct. If it is, then check if the password is correct. If both are correct, print "Access granted".

username = "admin"

password = "1234"

Q6. Take an integer input from the user and check whether the entered value exists in the tuple my_tuple = (5, 10, 15, 20, 25). Print an appropriate message based on the result.

Q7. Create a program that takes the user's first name, last name, and age as input, packs them into a tuple, and prints the tuple.

In [103]:
first_name = input("enter your first name: ")
last_name = input("enter your last name: ")
age = int(input("enter your age: "))
pack = ("first name","last name","age")
result = tuple(pack)
print(result)

enter your first name:  RAO
enter your last name:  KHALID
enter your age:  23

('first name', 'last name', 'age')

Q8. Given the tuple coordinates = (4, 5, 6), unpack the elements of the tuple into three variables x, y, and z. Then, calculate and print the sum of the variables.

Q9. Given the tuple my_tuple = (1, 2, 3, 4, 5), remove the element 3 from the tuple by first converting it to a list, and then print the resulting tuple.

Q10. Given the tuple numbers = (10, 20, 5, 30, 15), find and print the maximum and minimum values in the tuple.

In [48]:
series = (10,20,5,30,15)
value = max(series)
print(value)

30

In [52]:
series2 = (10,20,5,30,15)
value2 = min(series2)
print(value2)

5

In [56]:
#QUESTION 8
tup = (4,5,6)
x,y,z = (4,5,6)
x

4

In [59]:
y

5

In [61]:
z

6

In [63]:
add = x+y+z

In [65]:
print(add)

15

In [85]:
#QUESTION 9
my_tuple = (1,2,3,4,5)
my_list = list(my_tuple)

In [87]:
my_list

[1, 2, 3, 4, 5]

In [89]:
my_list.remove(3)

In [91]:
my_list

[1, 2, 4, 5]

In [93]:
my_tuple = tuple(my_list)

In [95]:
my_tuple

(1, 2, 4, 5)

In [113]:
#QUESTION 6
my_code = (5,10,15,20,25)
user_num = int(input("enter user_num"))
if user_num  in my_code:
    print("num exist")
else:
    print("not exist")

enter user_num 20

num exist

In [149]:
#QUESTION 5
username = "admin"
password = "1234"
user = input("enter username: ")
passkey = input("enter password")
if user=="admin":
    if passkey == "1234":
            print("access granted")
else:
    print("not granted")

enter username:  adnim
enter password 1234

not granted

In [153]:
#QUESTION 2
user_input = input("enter your email: ")
if "@" in user_input:
    if "."in user_input:
        print("email format is valid")
    else:
        print("invalid email")

enter your email:  krao0432@gmail.com

email format is valid

In [181]:
# QUESTION 3
num1 = int(input("enter num1"))
num2 = int(input("enter num2"))
num3 = int(input("enter num3"))
largest = max(num1,num2,num3)
print (largest)

enter num1 12
enter num2 32
enter num3 22

32