1. Write a program that takes two numbers (a = 15 , b = 4) and prints their:


- Sum

- Difference

- Product

- Division

- Floor Division

- Modulus

In [9]:
a = 15
b = 4
sum = (a+b)
print(sum)

19

In [11]:
diff = (a-b)
print(diff)

11

In [13]:
product = (a*b)
print(product)

60

In [35]:
division = a/b
print(division)

3.75

In [39]:
division2 = a//b
print(division2)

3

In [42]:
modulous = a%b
print(modulous)

3

2. Convert the following: 
(num1 = 10, num2 = 5.6, num3 = 4.43)

- Integer to float

- Float to integer

- Float to String

In [46]:
num1 = 10
num2 = 5.6
num3 = 4.43
print(float(num1))

10.0

In [48]:
print(int(num2))

5

In [50]:
print(str(num3))

4.43

3. fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

Print below using indexing:

- The first fruit

- The last fruit (negative indexing)

- The fourth fruit

In [54]:
fruits = ["apple","banana","cherry","coconut","pineapple","mango","orange"]

In [56]:
print(fruits[0])

apple

In [58]:
print(fruits[-1])

orange

In [60]:
print(fruits[4])

pineapple

4. List Slicing

numbers = [10, 20, 30, 40, 50]

Print:

- First three elements

- Last two elements

- Print all elements except the first one

- Print all elements except the last one

- Print the list in reverse using slicing

-  Print every second element

In [62]:
numbers = [10,20,30,40,50]

In [68]:
print(numbers[:3])

[10, 20, 30]

In [72]:
print(numbers[3:])

[40, 50]

In [74]:
print(numbers[1:])

[20, 30, 40, 50]

In [76]:
print(numbers[:4])

[10, 20, 30, 40]

In [ ]:
# reverse slicing

In [102]:
print(numbers[::-1])

[50, 40, 30, 20, 10]

In [104]:
print(numbers[1:2])

[20]

5. Add the number 10 to the end of the list using method.

nums = [1, 2, 3]

In [108]:
nums = [1,2,3]
nums.append(10)
print(nums)

[1, 2, 3, 10]

6. Insert the number 99 at index 1 using method.

nums = [1, 2, 3]

In [112]:
nums = [1,2,3]
nums.insert(1,99)
print(nums)

[1, 99, 2, 3]

7.  Add the elements of another list [4, 5] to the original list using method

nums = [1, 2, 3]

In [114]:
nums = [1,2,3]
my_list = [4,5]
print(nums+my_list)

[1, 2, 3, 4, 5]

8.  Sort the list in ascending order using method

nums = [4, 1, 3, 2]

In [152]:
nums = [4,1,3,2]
nums.sort()
print(nums.sort())

None

9. A customer orders several food items. Add the items to a list and then:

order = ["burger", "fries", "coke"]

- Add a new item "ice cream" using append()

- Remove an item "biryani" using remove()

- Show the final order

In [156]:
order = ["biryani","fries","coke"]
order.append("icecream")
print(order)

['biryani', 'fries', 'coke', 'icecream']

In [158]:
order.remove("biryani")
print(order)

['fries', 'coke', 'icecream']

10. Track passengers on a bus:

passengers = ["ali","zara","ahmed"]


- Insert a new passenger "Sara" at position 2

- Remove passesnger who got off "Zara"

- Reverse the order to show who entered first

In [162]:
passengers = ["ali","zara","ahmed"]
passengers.insert(2,"sara")
print(passengers)

['ali', 'zara', 'sara', 'ahmed']

In [164]:
passengers.remove("zara")
print(passengers)

['ali', 'sara', 'ahmed']

In [166]:
passengers.reverse()
print(passengers)

['ahmed', 'sara', 'ali']